<% content_for :meta_title, "Les prochains évènements • Posilink" %>
<% content_for :meta_description, "Trouvez votre prochain évènement associatif avec Posilink" %>

<div class="events-container">
  <div class="events-content">
    <h1><strong><%= @event.title %></strong></h1>
    <p><%= @event.description %></p>
    <p>Date: <%= @event.date.strftime("%d-%m-%Y") %></p>
    <p>Adresse: <%= @event.address %></p>


    <% if @participation %>
      <% if @event.articles.any? %>
        <div class="article-card">
          <h2>Articles</h2>
          <% @event.articles.each do |article| %>
            <div class="card-event" data-controller="read-more" data-read-more-more-text-value="Read more" data-read-more-less-text-value="Read less">
              <h3><strong><%= article.title %></strong></h3>
              <p class="my-content" data-read-more-target="content"><%= sanitize article.content %></p>
              <div class="read-more">
                <button class="btn btn-warning" data-action="read-more#toggle">Read more</button>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
      <% end %>
      <div>
        <%= link_to "Se désinscrire à l'évènement", event_participation_path(@event, @participation), data: {turbo_method: :delete, turbo_confirm: "Vous êtes sûr?"}, class: "btn btn-warning"%>
      </div>
    <% else %>
      <%= simple_form_for([@event], url: participations_path(@event), method: :post) do |f| %>
        <%= f.hidden_field :event_id, value: @event.id %>
        <div class="form-actions">
          <%= f.button :submit, value: "S'inscrire à l'évènement", class: "btn btn-warning" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="events-map"
    data-controller="map"
    data-map-markers-value="<%= [@marker].to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
