<div class="events-container">

  <div class="events-content">
    <h1><strong><%= @event.title %></strong></h1>
    <p><%= @event.description %></p>
    <p>Date: <%= @event.date.strftime("%d-%m-%Y") %></p>
    <p>Adresse: <%= @event.address %></p>

    <h2>Articles</h2>
      <% @event.articles.each do |article| %>
        <div class="card-event" data-controller="read-more" data-read-more-more-text-value="Read more" data-read-more-less-text-value="Read less">
          <h3><strong><%= article.title %></strong></h3>
          <p class="my-content" data-read-more-target="content"><%= sanitize article.content %></p>
          <button class="btn btn-warning" data-action="read-more#toggle">Read more</button>
        </div>
      <% end %>
  </div>

  <div class="events-map"
    data-controller="map"
    data-map-markers-value="<%= [@marker].to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
