<div class="row justify-content-center">
    <div class="col-sm-8 my-5">
        <%= form_with url: organizations_path, method: :get, class: "d-flex barre-recherche" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control border border-black border-end-0 shadow-lg",
          placeholder: "Nom de l'association"
        %>
        <%= submit_tag "Recherche", name: "", class: "nav-link border border-black border-start-0 py-1" %>
        <% end %>
    </div>
  <div class="container">
    <div class="row">
    <div class="col">
     <div class="event-card-grid">

     <% all_events = @organizations.map(&:events).flatten %>

  <% all_events.each_with_index do |event, index| %>
    <% rotation_degrees = index.even? ? 10 : -10 %>
    <div class="event-card" style="transform: rotate(<%= rotation_degrees %>deg);">
    <%= render partial: "shared/photo_card", locals: {event: event} %>
    </div>
  <% end %>


</div>
</div>
      </div>
    </div>
  </div>
  <div class='bp-index-container mt-2'>
    <h1 class="titre-bold">TOUS NOS <span class="phrase-couleur">PARTENAIRES</span> <br>ASSOCIATIFS </h1>
    <div class="bp-index-container-ac">
      <% @organizations.each do |organization| %>
        <div class="affichage-ac mb-5">
          <div class="bp-container-grid-ac">
            <% if organization.photo.key.present? %>
              <img src="<%= cl_image_path organization.photo.key %>" alt="association">
            <% else %>
              <p>Aucune image disponible</p>
            <% end %>
            <div class="container__ac">
              <h1><%= organization.name %></h1>
              <p><%= organization.category %></p>
              <button class="bouton-ac " onclick="window.location.href='<%= organization_path(organization) %>'">voir <%= organization.name %> <i class="fa fa-arrow-right"></i></button>
            </div>
          </div>
        </div>  
      <% end %>
    </div>
  </div>
</div>
