<% content_for :meta_title, "#{@organization.name} • Posilink" %>
<% content_for :meta_description, "Les derniers évènements de #{@organization.name}" %>
<% content_for :meta_image, cl_image_path(@organization.photo.key) %>


<div class="organization-banner">
<section class="dark">
	<div class="container py-4">


		<article class="postcard dark blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#"> <%= @organization.name %></a></h1>
				<div class="postcard__subtitle small">

				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt"> <%= @organization.description %></div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i><%= @organization.address %></li>
					<li class="tag__item"><a href="tel:<%= @organization.phone_number %>"><i class="fas fa-phone mr-2"></i><%= @organization.phone_number %></a></li>
          <li class="tag__item"><a href="mailto:<%= @organization.email %>"> <i class="fas fa-envelope mr-2"></i><%= @organization.email %></a></li>
				</ul>
			</div>
		</article>


</section>








<h2>Événements</h2>

<div class="container-orga">
  <div class="cards-orga">
    <% @organization.events.each do |event| %>
      <div class="product-card">
        <h3><%= event.title %></h3>
        <p><%= event.description %></p>
        <p>Date: <%= event.date.strftime("%d-%m-%Y") %></p>
        <p>Adresse: <%= event.address %></p>
        <%= link_to event.title, organization_event_path(@organization, event), class: "button" %>
      </div>
    <% end %>
  </div>
  <div id="map-event"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
